.checkbox {
    width: 10px;
    height: 10px;
}
.checkbox .text {
    display: block;
    width: 90%;
    min-width: 300px;
    text-align: left;
    vertical-align: center;
}
.checkbox .text > p {
    margin: 0;
}