.App {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  outline: none;
}
.item-wrapper {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}